.container {
    display: flex;
    flex-direction: row;
    gap: 5px;
}

.text {
    font-family: var(--font-inter);
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 130%;
    color: var(--color-fiord);
}
