.container {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.img-container {
    width: 281px;
    height: 191px;
    margin-right: 20px;
    display: flex;
    justify-content: center;
    align-self: flex-start;
}

.img {
    max-width: 281px;
    max-height: 191px;
}

.info {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-right: 41px;
    max-width: 500px;
}

.name {
    font-family: var(--font-inter);
    font-style: normal;
    font-weight: 700;
    font-size: 30px;
    line-height: 36px;
    color: var(--color-cod-gray);
    transition-duration: 0.3s;
}

.name:hover {
    color: var(--color-golden-tainoi);
}

.description {
    font-family: var(--font-inter);
    font-style: normal;
    font-weight: 300;
    font-size: 12px;
    line-height: 150%;
    color: var(--color-fiord);
}

.buttons-container {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.delimiter {
    width: 1px;
    height: 49px;
    opacity: 0.2;
    border: 1px dashed var(--color-fiord);
    margin-right: 44px;
    margin-left: 44px;
}

.price {
    font-family: var(--font-inter);
    font-style: normal;
    font-weight: 700;
    font-size: 30px;
    line-height: 130%;
    color: var(--color-cod-gray);
}

.button {
    padding: 10px 10px;
    background: var(--color-golden-tainoi);
    border-radius: 79px;
}

.button:hover {
    box-shadow: 5px 5px 20px -5px var(--color-golden-tainoi);
}

@media (max-width: 992px) {
    .container {
        flex-direction: column;
        align-items: center;
        gap: 15px;
    }

    .img-container {
        align-self: center;
    }

    .name {
        font-size: 20px;
        line-height: 24px;
    }

    .delimiter {
        margin-right: 15px;
        margin-left: 15px;
    }

    .delimiter_left {
        display: none;
    }

    .price {
        font-size: 16px;
    }
}
