.label {
    position: relative;
    display: flex;
}

.icon {
    position: absolute;
    right: 10px;
    top: 10px;
    cursor: pointer;
}

.input {
    width: 100%;
    align-items: center;
    padding: 20.5px 0 20.5px 20px;
    gap: 10px;
    border-radius: 36px;
    border-color: transparent;
    background: var(--color-gallery);
}

.input::placeholder {
    font-family: var(--font-inter);
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 150%;
    color: var(--color-shuttle-gray);
    opacity: 0.6;
}

.input:focus {
    outline: none;
}
