.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 50px;
}

.list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 21px;
}

.no-products {
    font-family: var(--font-inter);
    font-size: 30px;
}
