.container {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 14px;
}

.text-container {
    display: flex;
    flex-direction: column;
}

.number {
    font-family: var(--font-inter);
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 150%;
}

.time {
    font-family: var(--font-inter);
    font-style: normal;
    font-weight: 300;
    font-size: 12px;
    line-height: 150%;
}

.call {
    font-family: var(--font-inter);
    font-style: normal;
    font-weight: 400;
    font-size: 10px;
    line-height: 150%;
    text-decoration: underline;
    cursor: pointer;
}

.pic {
    position: relative;
}

.pic::after {
    content: "";
    position: absolute;
    top: 29px;
    right: 6px;
    width: 8px;
    height: 8px;
    background: var(--color-malachite);
    border: 2px solid var(--color-black-squeeze);
    border-radius: 50%;
}

.text_light {
    color: var(--color-white);
}

.text_dark {
    color: var(--color-fiord);
}
