.list {
    display: flex;
    flex-direction: row;
    gap: 30px;
    list-style: none;
}

.link {
    font-family: var(--font-inter);
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 150%;
    color: var(--color-fiord);
    text-decoration: none;
    transition-duration: 0.3s;
    padding-right: 30px;
    padding-top: 4px;
    padding-bottom: 4px;
    border-right: 1px dashed var(--color-black-squeeze-10);
}

.link:hover {
    color: var(--color-golden-tainoi);
}

.link_no-delimeter {
    border-right: none;
}
