.container {
    background: var(--color-white);
    box-shadow: 0px 15px 70px -11px var(--color-dark-brown-04);
    border-radius: 10px;
    padding: 18px 15px;
    transition-duration: 0.3s;
    cursor: pointer;
}

.container:hover {
    background: var(--color-golden-tainoi-30);
}

.container_checked {
    background: var(--color-golden-tainoi);
}

.container_checked:hover {
    background: var(--color-golden-tainoi);
}

.text {
    font-family: var(--font-inter);
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    text-align: center;
    color: var(--color-fiord);
    width: 70px;
}
