.footer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background: var(--color-fiord);
    padding: 71px 277px 116px 277px;
}

.subscription-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 15px;
}

.img {
    filter: invert(1) brightness(10);
    margin-bottom: 15px;
}

.description {
    font-family: var(--font-inter);
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    color: var(--color-white);
    margin-bottom: 30px;
}

.email {
    width: 280px;
}

.text {
    font-family: var(--font-inter);
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 150%;
    color: var(--color-white);
}

.title {
    font-family: var(--font-inter);
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 150%;
    color: var(--color-white);
    margin-bottom: 5px;
}

.icon-container {
    display: flex;
    flex-direction: row;
    gap: 10px;
}

.prices-container {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.contacts-container {
    display: flex;
    flex-direction: column;
    gap: 25px;
}

.mail-container {
    display: flex;
    flex-direction: column;
    gap: 25px;
}

.icon {
    cursor: pointer;
}

.icon:hover {
    transform: scale(1.1);
}

@media (max-width: 1800px) {
    .footer {
        padding: 50px;
    }
}

@media (max-width: 1200px) {
    .footer {
        flex-wrap: wrap;
        gap: 50px;
        justify-content: center;
    }
}

@media (max-width: 992px) {
    .footer {
        padding: 15px;
    }

    .img {
        max-width: 97px;
    }

    .description {
        font-size: 12px;
        margin: 0;
    }

    .subscription-container {
        flex-direction: row;
        flex-wrap: wrap;
        gap: 20px;
    }

    .contacts-container {
        flex-wrap: wrap;
    }

    .messenger-container {
        display: flex;
        flex-direction: column;
        gap: 17px;
    }
}
